.pricing.section{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    height: unset;
}
.pricing__title{
    text-align: center;
    line-height: 1.1;
    margin-bottom: 3rem;
}
.card__container{
    gap: 3rem 1.25rem;
    justify-items: center;
}
.card__article{
    position: relative;
    gap: 0;
    background-color: #101010;
    padding: 1.5rem 1.5rem 2rem;
    border-radius: 1rem;
    transition: .3s;
    max-width: 320px;
}
.card__article:hover{
    padding-top: 1.1rem;
}
.header__amount{
    text-align: right;
    font-size: 3rem;
    color: var(--title-color);
    line-height: .1;
    padding-top: 1.2rem;
}
.header__title{
    color: white;
    font-size: var(--biggest-font-size);
}
.header__subheader{
    color: var(--primary-color);
    margin-bottom: -.5rem;
}
.card__list{
    gap: .5rem;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.card__item{
    display: flex;
}
.card__icon{
    margin-top: .15rem;
    margin-right: 1rem;
}
.card__icon svg{
    fill: #7e7e7e;
    color: lightgray;
    font-size: 1.1rem;
}
.card__description{
    color: white;
}
.card__article .hero__buttons{
    margin-left: -1rem;
    margin-top: .5rem;
    margin-bottom: -.5rem;
}
.pricing > .separator__container{
    text-align: center;
    margin-left: 0;
    width: 100%;
}

@media screen and (min-width: 568px){
    .card__container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 968px){
    .card__container{
        grid-template-columns: repeat(3, 1fr);
    }
}